version: '3.8'

services:
  krawl:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: krawl-server
    ports:
      - "5000:5000"
    volumes:
      - ./wordlists.json:/app/wordlists.json:ro
      - ./config.yaml:/app/config.yaml:ro
      - ./logs:/app/logs
      - ./exports:/app/exports
    environment:
      - CONFIG_LOCATION=config.yaml
    restart: unless-stopped
