apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: krawl-db
  namespace: krawl-system
  labels:
    app: krawl-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
